@use '../../global' as g;

@keyframes task-action-btn-opacity {
    from { opacity: 0 }
    to { opacity: 1 }
}

.task-container {
    width: 100%;
}

.task {
    @include g.flex-column();
    justify-content: center;
    width: 100%;
    padding: 15px;
    background-color: var(--component-bg);
    border-radius: 10px;
    cursor: pointer;
    > .task-row {
        width: 100%;
        @include g.flex();
        &.task-row-top {
            @include g.space-between();
            min-height: 24px;
        }
        &.task-row-bottom {
            margin: 5px 0 0 35px;
        }
        .task-section {
            @include g.flex();
        }
    }
    .checkbox-container {
        margin-right: 15px;
        position: relative;
        height: 20px;
        width: 20px;
        label {
            background-color: var(--task-bg);
            border: 1px solid var(--neutral-grey);
            border-radius: 50%;
            height: 20px;
            width: 20px;
            position: absolute;
            top: 0;
            left: 0;
            cursor: pointer;
            transition: background-color 0.3s ease;
            &:after {
                border: 1px solid #FFFFFF;
                border-top: none;
                border-right: none;
                content: "";
                height: 5px;
                width: 10px;
                opacity: 0;
                position: absolute;
                top: 5px;
                left: 4px;
                transform: rotate(-45deg);
                transition: opacity 0.3s ease;
            }
        }
        input[type="checkbox"] {
            visibility: hidden;
            &:checked + label {
                background-color: var(--accent-green);
                border-color: var(--accent-green);
            }
            &:checked + label:after {
                opacity: 1;
            }
            @media screen and (min-width: 1400px) {
                &:not(:checked):hover {
                    + label {
                        background-color: var(--accent-green-reduced-opacity);
                    }
                    + label:after {
                        opacity: 1;
                    }
                }
            }
        }
    }
    .task-text {
        color: var(--text-color);
    }
    .task-btn {
        height: 24px;
        width: 24px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: none;
        &:not(:last-child) {
            margin-right: 5px;
        }
        > .task-btn-icon {
            height: 24px;
            width: 24px;
            stroke: var(--grey-text);
            &.task-btn-icon-red {
                stroke: var(--accent-red);
            }
        }
    }
    .task-calendar-icon {
        stroke: var(--accent-green);
        height: 16px;
        margin-right: 5px;
        &.task-calendar-late {
            stroke: var(--accent-red);
        }
    }
    .task-due-date {
        color: var(--accent-green);
        &.task-due-date-late {
            color: var(--accent-red);
        }
    }
    @media screen and (min-width: 1440px) {
        &:hover .task-btn {
            display: block;
            animation: task-action-btn-opacity 0.3s;
        }
    }
}