@use '../../global' as g;

@keyframes task-action-btn-opacity {
    from { opacity: 0 }
    to { opacity: 1 }
}

.task-container {
    width: 100%;
    margin-bottom: 5px;
}

.task {
    @include g.flex-column();
    justify-content: center;
    width: 100%;
    padding: 15px;
    background-color: var(--component-bg);
    border-radius: 10px;
    cursor: pointer;
    > .task-row {
        width: 100%;
        @include g.flex();
        &.task-row-top {
            @include g.space-between();
            min-height: 24px;
        }
        &.task-row-bottom {
            margin: 5px 0 0 35px;
        }
        .task-section {
            @include g.flex();
        }
    }
    .task-text {
        color: var(--text-color);
        &.task-text-completed {
            color: var(--grey-text);
            text-decoration: line-through;
        }
    }
    .task-btn {
        height: 24px;
        width: 24px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: none;
        &:not(:last-child) {
            margin-right: 5px;
        }
        > .task-btn-icon {
            height: 24px;
            width: 24px;
            stroke: var(--grey-text);
            &.task-btn-icon-red {
                stroke: var(--accent-red);
            }
        }
    }
    .task-calendar-icon {
        stroke: var(--accent-green);
        height: 16px;
        margin-right: 5px;
        &.task-calendar-late {
            stroke: var(--accent-red);
        }
        &.task-calendar-icon-completed {
            stroke: var(--grey-text);
        }
    }
    .task-due-date {
        color: var(--accent-green);
        &.task-due-date-late {
            color: var(--accent-red);
        }
        &.task-due-date-completed {
            color: var(--grey-text);
        }
    }
    @media screen and (min-width: 1440px) {
        &:hover .task-btn {
            display: block;
            animation: task-action-btn-opacity 0.3s;
        }
    }
}