@use '../../global' as g;

.homepage {
    width: 90vw;
    padding: 30px 0;
    max-width: 1200px;
    margin: 0 auto;
    > header {
        width: 100%;
        @include g.space-between();
        > .header-section {
            @include g.flex();
            > .taskr-logo-container {
                text-decoration: none;
                .taskr-logo {
                    font-family: 'Lobster', 'Ubuntu', 'Roboto', sans-serif;
                    font-size: 24px;
                    color: var(--text-color);
                }
            }
        }
    }
    > main {
        @include g.flex-column-centre();
        margin-top: 30px;
        > .welcome-message, > .tasks-message {
            color: var(--text-color);
        }
        > .tasks-message {
            color: var(--grey-text);
            margin-top: 15px;
        }
    }
}