@use '../../global' as g;

.auth-card {
    width: 90%;
    > .auth-form {
        @include g.flex-column-centre();
        width: 100%;
        > .auth-form-heading {
            font-size: 24px;
            color: var(--text-color);
            margin-bottom: 20px;
        }
        > .auth-field {
            @include g.flex-column();
            margin-bottom: 20px;
            width: 100%;
            > .auth-input-container {
                position: relative;
                width: 100%;
                > .auth-input-label {
                    position: absolute;
                    z-index: 5;
                    top: 50%;
                    left: 20px;
                    transform: translateY(-50%);
                    color: var(--neutral-grey);
                    background-color: var(--bg);
                    padding: 2px;
                    transition: font-size 0.3s ease, top 0.3s ease, color 0.3s ease;
                }
                > .auth-input {
                    width: 100%;
                    padding: 15px 20px;
                    border-radius: 5px;
                    background-color: var(--bg);
                    border: 1px solid var(--neutral-grey);
                    color: var(--text-color);
                    caret-color: var(--text-color);
                    &::placeholder {
                        visibility: hidden;
                    }
                    &.password-input {
                        padding: 15px 45px 15px 20px;
                    }
                    &.auth-input-error {
                        border: 1px solid var(--accent-red);
                        &:focus {
                            outline: 1px solid var(--accent-red) !important;
                        }
                    }
                    // REMOVING AUTOILL COLOURS
                    &:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus {
                        font-family: 'Roboto', sans-serif;
                        border: 1px solid var(--accent-green);
                        -webkit-text-fill-color: var(--text-color);
                        -webkit-box-shadow: 0 0 0px 1000px var(--bg) inset;
                        transition: background-color 5000s ease-in-out 0s;
                    }
                }
                .auth-input:not(.auth-input-error):focus {
                    outline: 1px solid var(--accent-green) !important;
                    border: 1px solid var(--accent-green) !important;
                }
                .auth-input:focus + .auth-input-label, .auth-input-label[data-input-filled="true"] {
                    font-size: 12px;
                    top: 0px;
                    color: var(--accent-green);
                }
                .auth-input-error:focus + .auth-input-label {
                    color: var(--accent-red);
                }
                .auth-input:not(:focus) + .auth-input-label[data-input-filled="true"] {
                    color: var(--neutral-grey);
                }
                .auth-input-error:not(:focus) + .auth-input-label[data-input-filled="true"] {
                    color: var(--accent-red);
                }
                .auth-input-error {
                    // REMOVING AUTOILL COLOURS
                    &:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus {
                        font-family: 'Roboto', sans-serif;
                        border: 1px solid var(--accent-red);
                        -webkit-text-fill-color: var(--text-color);
                        -webkit-box-shadow: 0 0 0px 1000px var(--bg) inset;
                        transition: background-color 5000s ease-in-out 0s;
                    }
                }
                > .password-visibility-toggle {
                    position: absolute;
                    z-index: 5;
                    top: 50%;
                    right: 20px;
                    transform: translateY(-50%);
                    > svg {
                        height: 20px;
                        width: 20px;
                        stroke: var(--neutral-grey);
                    }
                    &.password-visibility-toggle-hidden {
                        display: none;
                    }
                }
            }
            > .auth-input-error-msg {
                display: none;
                margin-top: 3px;
                color: var(--accent-red);
                font-size: 12px;
                &.auth-input-error-msg-show {
                    display: block;
                }
            }
        }
        > .auth-submit-btn {
            width: 100%;
            padding: 15px 0;
            border: none;
            border-radius: 10px;
            background-color: var(--accent-green);
            color: g.$primaryLight;
            font-size: 18px;
            font-weight: 500;
            transition: opacity 0.3s ease;
            margin: 10px 0 20px 0;
            &:disabled {
                opacity: 0.5;
            }
        }
        > .switch-auth-type-prompt {
            color: var(--accent-secondary-green);
            font-size: 14px;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}