@use '../../global' as g;

.modal-edit-container {
    width: 90%;
    > .modal-text-input {
        width: 100%;
        background-color: transparent;
        padding: 15px 10px;
        border: 1px solid var(--neutral-grey);
        border-radius: 5px;
        resize: none;
        font-size: 16px;
        color: var(--text-color);
        &:focus {
            border: 1px solid var(--accent-green);
            outline: 1px solid var(--accent-green);
        }
    }
    > .action-btns-container {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 10px;
        > .modal-edit-btn {
            padding: 8px 0;
            width: 70px;
            border: none;
            border-radius: 5px;
            font-weight: 500;
            cursor: pointer;
            &.modal-edit-cancel-btn {
                background-color: var(--grey-btn);
            }
            &.modal-edit-save-btn {
                background-color: var(--accent-green);
                color: white;
                margin-left: 10px;
                &:disabled {
                    opacity: 0.5;
                    cursor: not-allowed;
                }
            }
            @media screen and (min-width: 1440px) {
                &.modal-edit-cancel-btn:hover {
                    background-color: #A3A3A3;
                }
                &.modal-edit-save-btn:not(:disabled):hover {
                    background-color: var(--accent-green-hover);
                }
            }
        }
    }
}