@use '../../global' as g;

.edit-task {
    @include g.flex-column();
    width: 100%;
    max-width: 500px;
    padding: 15px;
    background-color: var(--component-bg);
    border-radius: 10px;
    > .edit-task-data-container {
        width: 100%;
        border: 1px solid var(--neutral-grey);
        border-radius: 10px;
        @include g.flex-column();
        padding: 10px;
        > .edit-task-text-input {
            width: 100%;
            background-color: transparent;
            color: var(--text-color);
            border: none;
            font-size: 16px;
            resize: none;
            &:focus {
                outline: none !important;
            }
        }
        > .edit-task-date-container {
            @include g.flex-column();
            margin-top: 20px;
            > .edit-task-date-prompt {
                color: var(--grey-text);
                font-size: 14px;
            }
            .edit-task-datepicker {
                max-width: 150px;
                font-size: 14px;
                margin-top: 5px;
                &.rw-state-focus {
                    .rw-widget-picker {
                        outline: 1px solid var(--accent-green) !important;
                        box-shadow: none !important;
                        transition: none !important;
                        border-color: var(--accent-green);
                    }
                    .rw-input-addon, .rw-input-addon.rw-picker-btn {
                        border-color: var(--accent-green);
                    }
                }
                .rw-widget-picker, .rw-widget-input, .rw-picker-btn {
                    background-color: transparent !important;
                }
                .rw-widget-input {
                    color: var(--text-color);
                }
                .rw-picker-btn {
                    color: var(--accent-green);
                }
                .rw-popup {
                    background-color: var(--calendar-bg);
                    .rw-calendar-grid {
                        background-color: var(--calendar-bg);
                    }
                    .rw-calendar-btn, .rw-head-cell, .rw-cell {
                        color: var(--text-color);
                    }
                    .rw-calendar-btn, .rw-cell {
                        &:hover:not(.rw-state-selected) {
                            background-color: var(--component-bg);
                        }
                    }
                    .rw-cell-off-range {
                        color: var(--grey-text);
                    }
                    .rw-state-selected {
                        font-weight: bold;
                        background-color: var(--accent-green);
                        border-color: var(--accent-green);
                        color: white;
                    }
                }
            }
            .edit-task-time {
                max-width: 120px;
            }
            .rw-calendar-popup {
                @media screen and (max-width: 300px) {
                    max-width: 250px;
                }
            }
        }
    }
    > .edit-task-action-btns {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 10px;
        > .edit-task-action-btn {
            padding: 8px 0;
            width: 70px;
            border: none;
            border-radius: 5px;
            font-weight: 500;
            cursor: pointer;
            &.edit-task-cancel-btn {
                background-color: var(--grey-btn);
            }
            &.edit-task-save-btn {
                background-color: var(--accent-green);
                color: white;
                margin-left: 10px;
                &:disabled {
                    opacity: 0.5;
                    cursor: not-allowed;
                }
            }
            @media screen and (min-width: 1440px) {
                &.edit-task-cancel-btn:hover {
                    background-color: #a3a3a3;
                }
                &.edit-task-save-btn:not(:disabled):hover {
                    background-color: var(--accent-green-hover);
                }
            }
        }
    }
}