@use '../../global' as g;

.input-field {
    @include g.flex-column();
    margin-bottom: 20px;
    width: 100%;
    > .input-container {
        position: relative;
        width: 100%;
        > .input-label {
            position: absolute;
            z-index: 5;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
            color: var(--neutral-grey);
            background-color: var(--base);
            padding: 2px;
            transition: font-size 0.3s ease, top 0.3s ease, color 0.3s ease;
        }
        > .input {
            width: 100%;
            padding: 15px 20px;
            border-radius: 5px;
            background-color: var(--base);
            border: 1px solid var(--neutral-grey);
            font-size: 16px;
            color: var(--text-color);
            caret-color: var(--text-color);
            &::placeholder {
                visibility: hidden;
            }
            &.password-input {
                padding: 15px 45px 15px 20px;
            }
            &.input-error {
                border: 1px solid var(--accent-red);
                &:focus {
                    outline: none !important;
                    box-shadow: 0 0 0 1px var(--accent-red) !important;
                }
            }
            // REMOVING AUTOILL COLOURS
            &:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus {
                font-family: 'Roboto', sans-serif;
                -webkit-text-fill-color: var(--text-color);
                -webkit-box-shadow: 0 0 0px 1000px var(--base) inset;
                transition: background-color 5000s ease-in-out 0s;
            }
            &:-webkit-autofill {
                border: 1px solid var(--neutral-grey);
            }
        }
        .input:not(.input-error):focus {
            outline: none !important;
            box-shadow: 0 0 0 1px var(--accent-green) !important;
            border: 1px solid var(--accent-green) !important;
        }
        .input:focus + .input-label, .input-label[data-input-filled="true"] {
            font-size: 12px;
            top: 0px;
            color: var(--accent-green);
        }
        .input-error:focus + .input-label {
            color: var(--accent-red);
        }
        .input:not(:focus) + .input-label[data-input-filled="true"] {
            color: var(--neutral-grey);
        }
        .input-error:not(:focus) + .input-label[data-input-filled="true"] {
            color: var(--accent-red);
        }
        .input-error {
            // REMOVING AUTOILL COLOURS
            &:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus {
                font-family: 'Roboto', sans-serif;
                border: 1px solid var(--accent-red);
                -webkit-text-fill-color: var(--text-color);
                -webkit-box-shadow: 0 0 0px 1000px var(--base) inset;
                transition: background-color 5000s ease-in-out 0s;
            }
        }
    }
    > .input-error-msg {
        display: none;
        margin-top: 3px;
        color: var(--accent-red);
        font-size: 12px;
        &.input-error-msg-show {
            display: block;
        }
    }
}