.password-visibility-toggle {
    position: absolute;
    z-index: 5;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    > svg {
        height: 20px;
        width: 20px;
        stroke: var(--neutral-grey);
    }
    &.password-visibility-toggle-hidden {
        display: none;
    }
}