@use './global' as g;

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
    --base: #FFFFFF;
    --bg: #FAFAFA;
    --text-color: #272727;
    --neutral-grey: #8F8F8F;
    --grey-text: #555555;
    --accent-green: rgb(68, 130, 65);
    --accent-green-reduced-opacity: rgba(68, 130, 65, 0.5);
    --accent-secondary-green: #72A86F;
    --accent-red: #CD4B4B;
    --green-btn-text: #FAFAFA;
    --box-shadow-colour: rgba(0, 0, 0, 0.3);
    --component-bg: #D0D0D0;
}

[data-theme="dark"] {
    --base: #141414;
    --bg: #272727;
    --text-color: #FAFAFA;
    --neutral-grey: #BABABA;
    --grey-text: #BABABA;
    --component-bg: #141414;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--bg);
    transition: background-color 0.3s ease;
    button, input, span {
        font-family: 'Ubuntu', 'Roboto', sans-serif;
    }
}
