@use './global' as g;

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
    --base: #FFFFFF;
    --bg: #EEEEEE;
    --text-color: #272727;
    --neutral-grey: #8F8F8F;
    --grey-text: #555555;
    --grey-btn: #B3B3B3;
    --accent-green: #448241;
    --accent-green-hover: #376B34;
    --accent-green-reduced-opacity: rgba(68, 130, 65, 0.5);
    --accent-secondary-green: #72A86F;
    --accent-red: #CD4B4B;
    --accent-red-hover: #AF3434;
    --green-btn-text: #FAFAFA;
    --box-shadow-colour: rgba(0, 0, 0, 0.3);
    --component-bg: #FAFAFA;
    --calendar-bg: #FFFFFF;
    --modal-backdrop: rgba(0, 0, 0, 0.7);
    --unavailable-text: #DADADA;
}

[data-theme="dark"] {
    --base: #141414;
    --bg: #272727;
    --text-color: #FAFAFA;
    --neutral-grey: #BABABA;
    --grey-text: #BABABA;
    --component-bg: #141414;
    --calendar-bg: #303030;
    --modal-backdrop: rgba(255, 255, 255, 0.3);
    --unavailable-text: #585858;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--bg);
    transition: background-color 0.3s ease;
    button, input, span, textarea {
        font-family: 'Ubuntu', 'Roboto', sans-serif;
    }
}
